a::selection {
  background: #29e8f6;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    &:hover, :focus {
      color: darken(rgb(255, 255, 255), 20%);
    }
  }
  .menu-left a {
    display: inline-block;
    position: relative;
    padding-bottom: 0px;
    transition: color .35s ease;
    &:before {
      content: '';
      display:block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      transition: width 0s ease, background .35s ease;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: rgb(255, 255, 255); 
      transition: width .35s ease;
    }
    &:hover:before {
      width: 100%;
      background-color: rgb(255, 255, 255); 
      transition: width .35s ease;
    }
    &:hover:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
    }
  }